

.row {
  max-width: 910px;
  box-sizing: border-box;
}

.row:after {
  display: block;
  content: "";
  line-height: 0;
  clear: both;
}

.half, .third, .fourth, .fifth, .sixth, .two_third, .five_sixth {
  float: left;
  box-sizing: border-box;
}

.half {
  width: 50%;
}

.third {
  width: 33.3%;
} 

.fourth {
  width: 25%;
}

.fifth {
  width: 20%;
}

.sixth {
 width: 16.66%;
} 

.two_third {
  width: 66.66%;
}

.five_sixth {
  width: 83.33%;
}

.margin_row .half + .half,
.margin_row .half + .third,
.margin_row .half + .fourth,
.margin_row .half + .sixth,
.margin_row .half + .two_third,
.margin_row .half + .five_sixth,
.margin_row .third + .half,
.margin_row .third + .third,
.margin_row .third + .fourth,
.margin_row .third + .sixth,
.margin_row .third + .two_third,
.margin_row .third + .five_sixth,
.margin_row .fourth + .half,
.margin_row .fourth + .third,
.margin_row .fourth + .fourth,
.margin_row .fourth + .sixth,
.margin_row .fourth + .two_third,
.margin_row .fourth + .five_sixth,

.margin_row .fifth + .half,
.margin_row .fifth + .third,
.margin_row .fifth + .fourth,
.margin_row .fifth + .fifth,
.margin_row .fifth + .sixth,
.margin_row .fifth + .two_third,
.margin_row .fifth + .five_sixth,

.margin_row .sixth + .half,
.margin_row .sixth + .third,
.margin_row .sixth + .fourth,
.margin_row .sixth + .sixth,
.margin_row .sixth + .two_third,
.margin_row .sixth + .five_sixth,
.margin_row .two_third + .half,
.margin_row .two_third + .third,
.margin_row .two_third + .fourth,
.margin_row .two_third + .sixth,
.margin_row .two_third + .two_third,
.margin_row .two_third + .five_sixth,
.margin_row .five_sixth + .half,
.margin_row .five_sixth + .third,
.margin_row .five_sixth + .fourth,
.margin_row .five_sixth + .sixth,
.margin_row .five_sixth + .two_third,
.margin_row .five_sixth + .five_sixth {
  margin-left: 2%;
}

.margin_row .half {
  width: 48%;
}

.margin_row .third {
  width: 32%;
} 

.margin_row .fourth {
  width: 23.5%;
}

.margin_row .fifth {
  width: 18.4%;
}

.margin_row .sixth {
 width: 15%;
} 

.margin_row .two_third {
  width: 66%;
}

.margin_row .five_sixth {
  width: 83%;
}

